.App {
  text-align: center;
  background-color: rgb(251, 253, 254);
  color: #003755;
  font-family: danske_textregular;
  font-weight: 400;
  line-height: 1.5;
}

/* Footer Section  styling  */
.header-color,
.footerFoo {
  background-color: rgb(0, 55, 85) !important;
}
